@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    padding: 1.2rem 0;
    background-color: #fff;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
    padding: 0 0.8rem;
}

.nav-hamburger {
    /* border: 1px solid red; */
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
   background-color: transparent;
   z-index: -99;
   transition:  200ms ease-in-out;
   display: none;
   opacity: 1;
}

.hamburger-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;
    list-style-type: none;
}

.hamburger-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#Shopp {
    color: rgb(117, 117, 117);
}

.title {
    cursor: pointer;
}

.title h1 a, .title p a, .links ul li a {
    text-decoration: none;
    color: inherit;
    transition: 300ms ease-in-out;
}

.title h1 a:hover, .title p a:hover, .links ul li a:hover {
    color: rgb(117, 117, 117);
}

.title h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

.title p {
    font-weight: 400;
    font-size: 1.3rem;
    font-weight: bold;
}

.links ul{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.links ul li {
    margin-right: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.links ul li:nth-child(4) {
    margin-right: 0;
}

.active {
    color: rgb(117, 117, 117);
}

.SUC {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid red; */
}

.search {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    margin-right: 4rem;
}

.search:hover {
    border-bottom: 2px solid black;
}

.search .fa-search, .search input {
    padding-left: 0.5rem;
}

.search input {
    border: none;
    outline: none;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-right: 1rem;
}

.search input::placeholder {
    color: black;
    letter-spacing: 1px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3rem;
    position: relative;
    cursor: pointer;
}

.user-dropdown {
    opacity: 0;
    position: absolute;
    width: 150px;
    border: 1px solid rgb(180, 180, 180);
    top: 100%;
    right: 0;
    padding: 0.75rem 0;
    background-color: white;
    transform: scale(0);
    transform-origin: top right;
    transition: 200ms ease-in-out;
    z-index: 200;
}

.showDropdown {
    opacity: 1;
    transform: scale(1);
}

.user-dropdown ul li {
    list-style-type: none;
    line-height: 2rem;
}

.user-dropdown ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 1.25rem;
    transition: 250ms ease-in-out;
}

.user-dropdown ul li a:hover {
    color: rgb(2, 82, 230);
}

.user {
    margin-right: 0.3rem;
}

.user img {
    width: 1.7rem;
    border-radius: 50%;
}

.cart {
    margin-left: 1.5rem;
    position: relative;
}

.cart .fa-shopping-bag{
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart .count {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -110%);
    color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
}

.sidebar .socials {
    position: fixed;
    top: 50%;
    left: -1%;
    transform: translate(1%, -50%);
    margin-left: 1.5rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
    font-size: 1.2rem;
    color: black;
}

#my-name {
    text-decoration: none;
    transition: 200ms ease-in-out;
    color: black;
}

#my-name:hover {
    color: rgb(0, 110, 236);
}

.fa-bars {
    font-size: 2rem;
}

.hamburger {
    display: none;
    margin-left: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .links {
        display: none;
    }
    
    .hamburger, .nav-hamburger{
        display: block;
    }
    .cart {
        margin-left: 0.5rem;
    }
    .sidebar .socials {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    #name-bar {
        display: none;
    }
    #searchbar {
        width: 5rem;
    }
    .nav-hamburger{
        background-color: white;
    }
    .hamburger-links ul {
        padding-bottom: 1rem;
    }
    .search {
        margin-right: 1rem;
    }
    .title h1 {
        font-size: 2.3rem;
    }
    .title p a {
        font-size: 1rem;
    }
    .title {
        line-height: 2rem;
    }
    .nav-hamburger {
        top: 60px;
       opacity: 0;
    }
}
@media only screen and (max-width: 480px) {
    .title h1 {
        font-size: 2.2rem;
    }
    .title p a {
        font-size: 0.8rem;
    }
    .title {
        line-height: 1.8rem;
    }
}

@media only screen and (max-width: 440px) {
    .SUC {
        position: absolute;
        top: 0;
        right: 20px;
    }
    .search {
        position: absolute;
        top: 50px;
        right: -20px;
        border: none;
        display: flex;
    }
}